<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Player Stats</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<style>
		body{
            font-family: Verdana;
            color: black;
			background-color: white;
		}
		.bg-color{
			background-image: linear-gradient(to right,#B4975A, black);;
		}

		th{
		background-color: #333F42;
		color: azure;
		}
		
		.my-custom-scrollbar {
			position: relative;
			height: 250px;
			overflow: auto;
		}
		.my-custom-scrollbar2 {
			position: relative;
			height: 300px;
			overflow: auto;
		}
		.my-custom-scrollbar3 {
			position: relative;
			height: 325px;
			overflow: auto;
		}
	.table-wrapper-scroll-y {
		display: block;
	}
	.row {
  		display: flex;
		}

	.column {
  		flex: 50%;
	}

	table{
			background-color: lightgray;
		}
		h1{
			text-transform: uppercase;
			font-weight: bold;
		}

		.table-striped tbody tr.highlight td { 
    		background-color: #C8102E;
		}
	</style>
</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-color">
				<a class="navbar-brand" href="/">OMAHA</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item">
			  <a class="nav-link " href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="playerstats">Player Stats</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="transaction" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Transactions
			  </a>
			  <div class="dropdown-menu " aria-labelledby="navbarDropdown">
				<a class="dropdown-item " href="add_drop">Add/Drop</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="trade">Trade</a>
				
			  </div>
			</li>
			<li class="nav-item active">
			  <a class="nav-link" href="Draft">Draft</a>
			</li>
		
	
		  </ul>
		 
		</div>
	  </nav>


<div style="padding-left: 1.25cm; padding-top: 1cm; padding-right: 1.25cm">
<h1>Draft</h1>
<div id="setupInfo">
	<label> Number of People:</label>
	<input type="number" id="numPeople" min="1" max="20" value="1">
	<label> Draft Pick:</label>
	<input type="number" id="pick" min="1" max="20" value="1">
	<br>
	<button id="setupBtn">Submit</button> 
</div>
<form method="post">

<div id="drafting" style="visibility:hidden">	
	<div class="row" style="padding-bottom: 1cm">
		  <div class="column" style="padding-right: 1cm"><h3>User Team: </h3>
			<label>Number of Players User Picked: <p name="Counter" id="Counter"> 0</p>
				 <input type="text" id="playerList" name="playerList" value="" style="display: none"> </label>

			<table class=" table-wrapper-scroll-y my-custom-scrollbar" id="userList" name="userList"  style="background: white;">
				<thead>
					<tr>
						<th scope="col">Players:</th>
					</tr>
				</thead>
				<tbody>
				</tbody>	
			</table>
			
	</div>
  	<div class="column"><h3>Already Picked: </h3>
		<ol class=" table-wrapper-scroll-y my-custom-scrollbar3" id="testList">
						
		</ol>
	</div>
	</div>
	<div>
			<div class="row">
					<div class="column" style="padding-right: 0.5">
		<input class="form-control" id="myInput" type="text" placeholder="Search..">
		<div class="table-wrapper-scroll-y my-custom-scrollbar2" >

		  <table class="table table-bordered table-striped mb-0" id = "draft_table">
    	<thead>
      		<tr>
				  <th scope="col">#</th>
        		<th scope="col">First</th>
        		<th scope="col">Last</th>
        		<th scope="col">Position</th>
				<th scope="col">College</th>
				<th scope="col"> Team</th>
				
			  </tr>
    	</thead>
    	<tbody id="myTable">
				<% player.forEach((player, index) => { %>
					<tr id=<%= index %>>
					  <td ><%= index %></td>
					  <td><%= player.first_name %></td>
					  <td><%= player.last_name %></td>
					  <td><%= player.position %></td>
					  <td><%= player.college %></td>
					  <td><%= player.Team %></td>
				   </tr>
			   <% }) %>
    </tbody>
  	</table>
</div>
</div>
<div class="column"><h3>Stats: </h3>
	<table class="table table-bordered table-striped ">
			<thead>
				  <tr>
					<th scope="col">Year</th>
					<th scope="col">Rush</th>
					<th scope="col">Receive</th>
					<th scope="col">Pass</th>
					<th scope="col">R TD</th>
					<th scope="col">T TD</th>
					<th scope="col">Re TD</th>
					<th scope="col">PAT</th>
					<th scope="col">FG </th>
				  </tr>
			</thead>
			<tbody id="statTable">
					<tr>
						<td>2016</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>2017</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Career</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
		</tbody>
		  </table>
</div>

</div>


</div>

<button type="submit" class="btn btn-primary submit">Submit</button> 
</form>
<div id="feedback">
	<h4>Feedback:</h4>
	<% if (message != '') { %>
		<p class="text-center"><%= message %></p>
	<% } %>

	
</div>
</div>	


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script>
	var setupStuff = document.getElementById("setupInfo");
	var draftingVis = document.getElementById("drafting");
	var yourPick;
	var picksRound;
	document.getElementById("setupBtn").onclick = function()
	{
		yourPick = document.getElementById("pick").value;
		picksRound = document.getElementById("numPeople").value;
		setupStuff.style.display = "none";
		draftingVis.style.visibility = "visible";
	}

	var count = 1;
	var currentPick = 1;
	var round = 1;
	var table = document.getElementById("draft_table");
	var targetT = document.getElementById("userTable");    
	var targetT2 = document.getElementById("statTable");    
	var stats = <%- JSON.stringify(stats) %>;
			var stats17 = <%- JSON.stringify(stats17) %>;
			var statsCareer = <%- JSON.stringify(statsCareer) %>;

	for(var i = 1; i < table.rows.length; i++){

		table.rows[i].ondblclick = function()
		{
			var li = document.createElement("LI");  
			var li2 = document.getElementById("userList");
			var counter = 1;
			var xcount =  parseInt(document.getElementById("Counter").innerHTML);
			var tracker = document.getElementById("Counter");
			rIndex = this.rowIndex;
			li.innerHTML = this.cells[1].innerHTML + " " + this.cells[2].innerHTML;
			
			
			document.getElementById("testList").appendChild(li);

			if(round % 2 < 1){
				if(currentPick == (round*picksRound-yourPick + 1)){
					var row = li2.insertRow(1);
					var cell1 = row.insertCell(0);
					var pList = document.getElementById("playerList");
					cell1.innerHTML = this.cells[1].innerHTML + " " + this.cells[2].innerHTML;
					cell1.id = xcount;
					document.getElementById(xcount).setAttribute("name",xcount);
					xcount = xcount + 1;
					tracker.innerHTML = xcount;
					pList.value = pList.value  + this.cells[1].innerHTML + " " + this.cells[2].innerHTML + ",";
					//pList.innerHTML = pList.innerHTML  + this.cells[1].innerHTML + " " + this.cells[2].innerHTML + ",";


					//li2.innerHTML = this.cells[1].innerHTML + " " + this.cells[2].innerHTML;
					//li2.id = this.cells[1].innerHTML + " " + this.cells[2].innerHTML;
					//document.getElementById("userList").appendChild(li2);
				}
			}
			else{
				
				
				if(currentPick == ((round-1)*picksRound + parseInt(yourPick))){
					var row = li2.insertRow(1);
					var cell1 = row.insertCell(0);
					cell1.innerHTML = this.cells[1].innerHTML + " " + this.cells[2].innerHTML;
					cell1.id = xcount;
					document.getElementById(xcount).setAttribute("name",xcount);
					xcount = xcount+1;
					tracker.innerHTML = xcount;
					//li2.innerHTML = this.cells[1].innerHTML + " " + this.cells[2].innerHTML;
					//li2.id = this.cells[1].innerHTML + " " + this.cells[2].innerHTML;
					//document.getElementById("userList").appendChild(li2);
					var pList = document.getElementById("playerList");
					pList.value = pList.value  + this.cells[1].innerHTML + " " + this.cells[2].innerHTML + ",";
					//pList.innerHTML = pList.innerHTML  + this.cells[1].innerHTML + " " + this.cells[2].innerHTML + ",";

				}
			}
			///console.log("Count " +count);
			//console.log("Round " + round);
			//console.log(xcount);
			//console.log(document.getElementById("playerList"));
			currentPick = currentPick + 1;
			count = count + 1;
			
			if(count > picksRound){
				round = round + 1;
				count = 1;
			}	
			this.remove();
			
			
		}

		table.rows[i].onclick = function()
			{
				var rIndex = this.rowIndex -1 ;
				
				//2016
				//targetT2.rows[0].cells[1].innerHTML = JSON.stringify(stats[table.rows[rIndex+1].cells[0].innerHTML].first_name + " " + stats[table.rows[rIndex+1].cells[0].innerHTML].last_name);
				targetT2.rows[0].cells[1].innerHTML = JSON.stringify(stats[table.rows[rIndex+1].cells[0].innerHTML].RushingYds);
				targetT2.rows[0].cells[2].innerHTML = JSON.stringify(stats[table.rows[rIndex+1].cells[0].innerHTML].ReceivingYDS);
				targetT2.rows[0].cells[3].innerHTML = JSON.stringify(stats[table.rows[rIndex+1].cells[0].innerHTML].PassingYds);
				targetT2.rows[0].cells[4].innerHTML = JSON.stringify(stats[table.rows[rIndex+1].cells[0].innerHTML].RushingTD);
				targetT2.rows[0].cells[5].innerHTML = JSON.stringify(stats[table.rows[rIndex+1].cells[0].innerHTML].PassingTD);
				targetT2.rows[0].cells[6].innerHTML = JSON.stringify(stats[table.rows[rIndex+1].cells[0].innerHTML].ReceivingTD);
				targetT2.rows[0].cells[7].innerHTML = JSON.stringify(stats[table.rows[rIndex+1].cells[0].innerHTML].PAT);
				targetT2.rows[0].cells[8].innerHTML = JSON.stringify(stats[table.rows[rIndex+1].cells[0].innerHTML].FG);

				//2017
				//targetT2.rows[1].cells[1].innerHTML = JSON.stringify(stats17[table.rows[rIndex+1].cells[0].innerHTML].first_name + " " + stats17[table.rows[rIndex+1].cells[0].innerHTML].last_name);
				targetT2.rows[1].cells[1].innerHTML = JSON.stringify(stats17[table.rows[rIndex+1].cells[0].innerHTML].RushingYds);
				targetT2.rows[1].cells[2].innerHTML = JSON.stringify(stats17[table.rows[rIndex+1].cells[0].innerHTML].ReceivingYDS);
				targetT2.rows[1].cells[3].innerHTML = JSON.stringify(stats17[table.rows[rIndex+1].cells[0].innerHTML].PassingYds);
				targetT2.rows[1].cells[4].innerHTML = JSON.stringify(stats17[table.rows[rIndex+1].cells[0].innerHTML].RushingTD);
				targetT2.rows[1].cells[5].innerHTML = JSON.stringify(stats17[table.rows[rIndex+1].cells[0].innerHTML].PassingTD);
				targetT2.rows[1].cells[6].innerHTML = JSON.stringify(stats17[table.rows[rIndex+1].cells[0].innerHTML].ReceivingTD);
				targetT2.rows[1].cells[7].innerHTML = JSON.stringify(stats17[table.rows[rIndex+1].cells[0].innerHTML].PAT);
				targetT2.rows[1].cells[8].innerHTML = JSON.stringify(stats17[table.rows[rIndex+1].cells[0].innerHTML].FG);

				//career
				//targetT2.rows[2].cells[1].innerHTML = JSON.stringify(statsCareer[table.rows[rIndex+1].cells[0].innerHTML].first_name + " " + statsCareer[table.rows[rIndex+1].cells[0].innerHTML].last_name);
				targetT2.rows[2].cells[1].innerHTML = JSON.stringify(statsCareer[table.rows[rIndex+1].cells[0].innerHTML].RushingYds);
				targetT2.rows[2].cells[2].innerHTML = JSON.stringify(statsCareer[table.rows[rIndex+1].cells[0].innerHTML].ReceivingYDS);
				targetT2.rows[2].cells[3].innerHTML = JSON.stringify(statsCareer[table.rows[rIndex+1].cells[0].innerHTML].PassingYds);
				targetT2.rows[2].cells[4].innerHTML = JSON.stringify(statsCareer[table.rows[rIndex+1].cells[0].innerHTML].RushingTD);
				targetT2.rows[2].cells[5].innerHTML = JSON.stringify(statsCareer[table.rows[rIndex+1].cells[0].innerHTML].PassingTD);
				targetT2.rows[2].cells[6].innerHTML = JSON.stringify(statsCareer[table.rows[rIndex+1].cells[0].innerHTML].ReceivingTD);
				targetT2.rows[2].cells[7].innerHTML = JSON.stringify(statsCareer[table.rows[rIndex+1].cells[0].innerHTML].PAT);
				targetT2.rows[2].cells[8].innerHTML = JSON.stringify(statsCareer[table.rows[rIndex+1].cells[0].innerHTML].FG);

				$(this).addClass('highlight').siblings().removeClass('highlight');	
			
			}
	}
</script>

</div>

</body>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
